.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    padding: 6px 16px;
    color: var(--font-color-default);
    transform: translateX(-50%);
    border-radius: 4px;
}

.error {
    background-color: var(--bg-error);
}