.progress {
    width: 200px;
    height: 200px;
    fill: transparent;
}

.progress svg {
    transform: rotate(270deg) scaleY(-1);
}

.gradientDark {
    stop-color: var(--bg-color-accent-dark);
}

.gradientLight {
    stop-color: var(--bg-color-accent-light);
}