.avatar {
    --avatar-dimensions: 64px;

    width: var(--avatar-dimensions);
    height: var(--avatar-dimensions);
    object-fit: cover;
    border-radius: 50%;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.sizeLg {
    --avatar-dimensions: 128px;
}