:root {
    --grey100: #141419;
    --grey200: #191A21;
    --grey600: #8d9197;

    --light100: #f2f2f2;

    --violet: #6468c5;
    --pink: #e06bbf;

    --bg-default: var(--grey100);
    --bg-surfaces: var(--grey200);
    --bg-color-accent-dark: var(--violet);
    --bg-color-accent-light: var(--pink);

    --border-color-dark: var(--grey100);

    --font-size-default: 16px;
    --font-size-xl: 40px;

    --font-weight-bold: 700;

    --font-color-default: var(--light100);
    --font-color-secondary: var(--grey600);

    --gradient-default: linear-gradient(to right, var(--bg-color-accent-dark), var(--bg-color-accent-light))
}

.app {
    --navbar-width: 250px;

    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-default);
    line-height: 1.2;
    color: var(--font-color-default);
    background-color: var(--bg-default);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}