:root {
    --dark100: #141419;
    --dark200: #191A21;

    --bg-default: var(--dark100);
    --bg-surfaces: var(--dark200);

    --navbar-width: 250px;
}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    background-color: var(--bg-default);
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navigation {
    background-color: var(--bg-surfaces);
}